
body {
    font-family: sans-serif;
    background-color: #f2f2f2;
    background-image: url("../imagenes/cursos.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {

    width: 75%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    opacity: 0.9;
}

.contenedor .titulo{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.contenedor .titulo h1{
    font-family: "Arial monospaced for SAP";
    font-size: 30px;
}


.contenedor .containerPrincipal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50%;
    width: 100%;
}

.contenedor .containerPrincipal .columna izquierda {
    width: 50%;
}

.contenedor .containerPrincipal .columna derecha {
    width: 50%;
}


p {
    font-size: 16px;
    margin-bottom: 10px;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contenedorBotones Button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contenedorBotones button :hover {
    background-color: #0069d9;
}

.profesor {
    text-align: center;
}

.inscripcion {
    text-align: center;
}

.contenedorBotones {
    justify-content: center;
    text-align: center;
    height: 15%;
    width: 100%;
    padding: 0px 0px 100px;
}